doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.container.listing-reg
      h1 You rated that dog 2/5 so as punishment you must help me pass this assignment.
      h2 Put in your name and email and I won't do anything with that information but I will have that information because it was a requirement. Cheers big ears. 

      block content
